POSTGRES_HOST= # 'db'
POSTGRES_USER= # 'postgres'
POSTGRES_PASSWORD= # clave de postgres
POSTGRES_DB= # base de datos de postgres
DATABASE_PORT= # puerto de postgres
RETENTION_DAYS= # dias de retencion delos backups
BACKUP_INTERVAL_SECONDS= # intervalo de tiempo entre backups en segundos
REDIS_POST= # puerto de redis